@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --headerFont: "DM Serif Display", sans-serif;
    --textFont: "Karla", sans-serif;
}

/* Header Styling */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 30px;
}

nav{
    opacity: 0;
    /* position: absolute; */
}

#nav_btn{
    opacity: 0;
    position: absolute;
}

/* Banner Styling */
.banner{
    height: 500px;
    background-image: url(images/image-intro-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Header & Paragraph tag styling */
h1, h2, h3{
    font-family: var(--headerFont);
    font-weight: 400;
}

p{
    font-family: var(--textFont);
    font-weight: 400;
    /* font-size: 16px; */
}

/* Intro Styling */
.intro{
    background-color: hsl(256, 26%, 20%);
    color: hsl(0, 0%, 98%);
    padding: 100px 30px;
    text-align: center;
    line-height: 25px;
}

#intro_patternLeft{
    margin-top: -100px;
    /* right: 62%; */
    left: 0px;
    position: absolute;
    z-index: 0;
    opacity: 1;
}

/* Hidden patterns */
#intro_patternLeftdesktop, #fom_desktop, #footer_patterndesktop{
    opacity: 0;
    position: absolute;
}

.intro h1{
    z-index: 10;
    position: relative;
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 45px;
    /* text-align: center; */
}

.intro p{
    margin-bottom: 25px;
}

.intro button{
    padding: 10px 25px;
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    border: 2px solid #fff;
    color: #fff;
    font-family: var(--textFont);
    letter-spacing: 2px;
    font-weight: 400;
}

.intro button:hover{
    background-color: #fff;
    color: hsl(256, 26%, 20%);
    font-weight: 700;
    cursor: pointer;
}

#intro_patternRight{
    position: absolute;
    z-index: 0;
    right: 0px;
    opacity: 1;
}

/* Info Styling */
.info{
    background-color: #fff;
    margin: 150px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.info .info_container h2{
    font-size: 45px;
    font-weight: 400;
    text-align: center;
}

.info_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info_container::before{   
    Content:"";
    Display: block;
    Height: 1px;
    Margin-bottom: 30px;
    Width: 150px;
    background-color: hsl(273, 4%, 51%);
}

.boxes{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.boxes p{
    color: hsl(273, 4%, 51%);
    line-height: 25px;
}

#snappy, #prices, #people{
    margin-top: 60px;
    margin-bottom: 35px;
}

.boxes .box1 h3, .boxes .box2 h3, .boxes .box3 h3{
    font-size: 30px;
    margin-bottom: 20px;
}

/* Findoutmore Styling */
.fom_section{
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 150px;
}

#fom_pattern{
    position: absolute;
    z-index: 0;
    right: 0px;
    top: 0px;
}

.findoutmore{
    position: relative;
    background-color: hsl(256, 26%, 20%);
    color: hsl(0, 0%, 98%);
    padding: 80px 30px;
    width: 90%;
    text-align: center;
    overflow: hidden;
    align-items: center;
}

.findoutmore h2{
    position: relative;
    z-index: 15;
    font-size: 45px;
    line-height: 45px;
    margin-bottom: 30px;
}

.findoutmore button{
    padding: 10px 25px;
    width: fit-content;
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    border: 2px solid #fff;
    color: #fff;
    font-family: var(--textFont);
    letter-spacing: 2px;
    font-weight: 400;
    cursor: pointer;
}

.findoutmore button:hover{
    cursor: pointer;
    background-color: #fff;
    color: hsl(256, 26%, 20%);
    font-weight: 700;
}

/* Footer Styling */
footer{
    background-color: hsl(0, 0%, 98%);
    padding: 100px 25px;
    /* border: 1px solid black; */
    position: relative;
    z-index: 20;
    overflow: hidden;
}

#footer_pattern{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
}

.footer_container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* border: 1px solid black; */
}

#footer_logo{
    margin-bottom: 30px;
}

.footer_insure{
    width: 90%;
    border-bottom: 1px solid hsl(0, 3%, 66%);
}

.icons{
    display: flex;
    gap: 15px;
    /* width: 90%; */
    justify-content: center;
    padding-bottom: 40px;
    
}

.icons img:hover{
   cursor: pointer;
}

.txt{
    font-family: var(--textFont);
    font-weight: 700;
    color: hsl(273, 4%, 51%);
    letter-spacing: 1px;
    margin-top: 40px;
}

.links{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.links a:hover{
    text-decoration: underline;
}

.company p, .help p, .contact p, .others p{
    margin-bottom: 40px;
}

.company a, .help a, .contact a, .others a{
    color: #000;
    font-family: var(--textFont);
    font-weight: 700;
    text-decoration: none;
}

/* Media Query */
@media (min-width: 768px){

/* Desktop Header Styling */
    header{
        /* border: 1px solid black; */
        display: flex;
        padding: 0 100px;
        
    }

    .nav_desktop{
        display: flex;
        align-items: center;
    }

    nav{
        opacity: 1;
        /* border: 1px solid black; */
        margin-right: 30px;
    }

    nav ul{
        list-style: none;
        display: flex;
        gap: 30px;
    }

    nav ul li{
        font-family: var(--textFont);
        font-weight: 700;
        color: hsl(273, 4%, 51%);
        font-size: 14px;
    }

    nav ul li:hover{
        color: hsl(256, 26%, 20%);
        cursor: pointer;
    }

    #nav_btn{
    opacity: 1;
    position: relative;
    padding: 10px 25px;
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    border: 2px solid hsl(256, 26%, 20%);
    color: hsl(256, 26%, 20%);
    font-family: var(--textFont);
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 14px;
    }

    #nav_btn:hover{
        background-color: hsl(256, 26%, 20%);
        color: #fff;
        font-weight: 700;
        cursor: pointer;
    }

    .hamburger, #intro_patternLeft, #intro_patternRight, #fom_pattern, #footer_pattern{
        opacity: 0;
        position: absolute;
    }

    /* Banner Styling */

    .banner{
        /* border: 1px solid black; */
        float: right;
        background-image: url(images/image-intro-desktop.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 30%;
        margin-top: 80px;
        position: relative;
        right: 100px;
    }

    /* Intro Styling */
    .intro{
        padding-top: 80px;
        /* overflow: hidden; */
    }
    
    .intro_desktop{
        margin-left: 70px;
        /* border: 1px solid ; */
        text-align: left;
        width: 45%;
        padding-right: 10px;
    }

    .intro_desktop::before{
        content: "";
        display: block;
        height: 1px;
        margin-bottom: 45px;
        width: 150px;
        background-color: hsl(273, 4%, 51%);
    }

    /* #intro_patternRightdesktop{
        opacity: 1;
        position: absolute;
        right: 0;
        margin-top: -80px;
        top: 20;
        z-index: 40;
    } */

    #intro_patternLeftdesktop{
        position: absolute;
        opacity: 1;
        left: 0;
        margin-top: -38px;
    }

    /* Info Styling */
    .info_container::before{
        margin-top: 150px;
    }

    .info_container{
        align-items: start;
        width: 90%;
    }

    .info .info_container h2{
        text-align: left;
    }

    .boxes{
        flex-direction: row;
        column-gap: 20px;
    }

    .box1, .box2, .box3{
        /* border: 1px solid black; */
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
    }

    /* Findoutmore Styling */
    .findoutmore{
        display: flex;
        align-items: center;
        flex-direction: row;
        column-gap: 10rem;
        width: 85%;
        height: 250px;
        /* padding: 65px 30px; */
    }

    .findoutmore h2{
        text-align: left;
    }

    .findoutmore button{
        z-index: 10;
    }

    .findoutmore button:hover{
       z-index: 10;
    }

    #fom_desktop{
        opacity: 1;
        position: absolute;
        right: 0;
        top: 0;
    }

    /* Footer Styling */
    #footer_patterndesktop{
        opacity: 1;
        position: absolute;
        top: 0;
        left: 0;
    }

    .footer_insure{
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
    }

    .footer_links{
        width: 90%;
        position: relative;
        display: flex;
        gap: 150px;
    }
}

@media (max-width: 360px){
    #intro_patternLeftdesktop{
        /* opacity: 1; */
        left: 0;
        position: absolute;
    }
}